@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-dark-800 bg-white;
  }
}

/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full dark:bg-slate-700;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300 dark:bg-slate-600;
}